.teams-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 20px;
}

.team-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0;
    font-size: 20px;
    padding: 0;
}

.team-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
}

.team-item span.team-name {
    font-weight: bold;
    margin-right: 10px;
}

.team-item .score-controls {
    display: flex;
    align-items: center;
    gap: 10px;
}

.team-item .team-score {
    font-size: 1.2em;
    font-weight: bold;
}

.team-list-card {
    display: flex;
    flex-direction: column;
    gap: 5px;

    .team-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px;
    }
}
